:root {
    /* MUTUAL */
    --c-blue: #0079FF;

    /* LIGHT */
    --c-blue-gray-l: #697C9A;
    --c-blue-dark-l: #4B6A9B;
    --c-blue-darkest-l: #2B3442;
    --c-blue-lightest-l: #F6F8FF;
    --c-gray-lightest-l: #FEFEFE;

    /* DARK */
    --c-white: #FFFFFF;
    --c-blue-darkest-d: #141D2F;
    --c-blue-dark-d: #1E2A47;
}

/*DEFAULT*/
html {
    overflow: auto;
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Space Mono', monospace;
}

body {
    overflow: inherit;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    min-height: 100vh;
    background-color: var(--c-blue-lightest-l);
}

/*LAYOUT*/
.container {
    display: block;
    margin: 3.1rem 2.4rem 0;
}

.main {
    display: block;
    width: 100%;
}

/*UTILITIES*/
.mb-lg {
    margin-bottom: 3.6rem;
}

/*TYPOGRAPHY*/
.heading-1 {
    font-size: 2.6rem;
    line-height: 3.8rem;
}

.heading-2 {
    font-size: 2.2rem;
    line-height: 3.3rem;
}

.heading-3 {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.heading-4 {
    font-size: 1.3rem;
    line-height: 2rem;
}

.heading-1, .heading-2 {
    font-weight: 700;
}

.heading-3, .heading-4 {
    font-weight: 400;
}

/*HEADER*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #222731;
}

.mode-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 7.8rem;
}

.mode-toggle__title {
    color: var(--c-blue-gray-l);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .25rem;
}

.mode-toggle::after {
    content: url('./assets/icon-moon.svg');
}

/*SEARCH-BAR*/
.search-group {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--c-gray-lightest-l);
    border-radius: 1.5rem;
    padding: .7rem;
    box-shadow: 0 1.6rem 3rem -1rem rgba(70, 96, 187, 0.2);
}

.search-icon {
    width: 2rem;
    height: 2rem;
    margin: 0 .9rem;
}

.search-control {
    flex: 1;
    border: none;
    font-size: 1.3rem;
    font-weight: 400;
}

.btn {
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding: 1.25rem 0;
}

.btn--search {
    background-color: var(--c-blue);
    color: var(--c-white);
    width: 8.4rem;
}